/*...........................................page restaurant Mobile..................................*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    height: auto;
    padding: 0;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}


/*...........................header.....................Header............*/

header {
    display: flex;
    width: 100%;
    height: 62px;
    font-family: 'Shrikhand', cursive;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: large;
    color: black;
}

h2 {
    display: flex;
    font-size: 26px;
}


/*...........................main.......................main.....................*/

main {
    display: flex;
    width: 100%;
    height: 1395px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

main.more-starters {
    display: flex;
    width: 100%;
    height: 1530px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.restaurant-image-container {
    display: flex;
    width: 100%;
    height: 260px;
}

.restaurant-image {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.restaurant-menu {
    display: flex;
    position: relative;
    background-color: rgb(246, 246, 246);
    width: 100%;
    height: 1040px;
    flex-direction: column;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
}

.more-starters-restaurant-menu {
    display: flex;
    position: relative;
    width: 100%;
    height: 1155px;
    flex-direction: column;
    margin-top: -40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 4%;
    padding-right: 4%;
    background-color: rgb(246, 246, 246);
}

.restaurant-title {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-left: 5px;
}

.restaurant-name {
    display: flex;
    font-family: 'Shrikhand', cursive;
    font-size: 26px;
}

.card-heart {
    display: flex;
    font-size: 26px;
    padding: 20px;
}

.far.fa-heart {
    position: absolute;
    font-size: 24px;
    opacity: 1;
}

.fas.fa-heart {
    position: relative;
    font-size: 24px;
    opacity: 0;
}

.fas.fa-heart:hover {
    opacity: 1;
    color: rgb(198, 103, 219);
    cursor: pointer;
    transition: all 3s;
}

.menu-container {
    display: flex;
    height: 970px;
    width: 100%;
    flex-direction: column;
}

.more-starters-menu-container {
    display: flex;
    height: 1090px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

article {
    display: flex;
    width: 100%;
    height: 325px;
    flex-direction: column;
    justify-content: space-between;
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-delay: 0.3s;
}

@keyframes slide {
    0% {
        opacity: 0;
        height: 10%;
    }
    15% {
        opacity: 0.1;
        height: 20%;
    }
    30% {
        opacity: 0.2;
        height: 30%;
    }
    40% {
        opacity: 1;
        height: 40%;
    }
    50% {
        height: 70%;
    }
    70% {
        height: 80%;
    }
}

.more-starters-article {
    display: flex;
    width: 100%;
    height: 38%;
    flex-direction: column;
    justify-content: space-between;
}

.menu-step-title {
    display: flex;
    font-weight: normal;
    font-size: 16px;
    margin-block-start: 40px;
    margin-block-end: 0;
    width: 12%;
    height: 24px;
    border-bottom: 2px solid #99E2D0;
}

.dish-container {
    display: flex;
    width: 100%;
    height: 68px;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    align-items: flex-end;
    padding-bottom: 0;
    box-shadow: 5px 5px 5px rgb(232 232 232);
    cursor: pointer;
}

.dish-container:hover .rolling-shutter {
    animation: rolling 0.8s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    background-color: aquamarine;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.dish-container:hover .fas.fa-check {
    display: flex;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    color: green;
    animation: rotation 0.5s;
}

@keyframes rolling {
    0% {
        width: 0%;
    }
    100% {
        width: 60px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.dish-text {
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.dish-title {
    display: block;
    font-size: 18px;
    margin: 0;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish-subtitle {
    display: block;
    font-size: 15px;
    max-width: 265px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dish-price {
    display: flex;
    font-weight: bold;
    justify-content: right;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.rolling-shutter {
    display: none;
}

.fas.fa-check {
    display: none;
}

.restaurant-calltoaction {
    display: flex;
    width: 100%;
    height: 147px;
    background-color: rgb(246, 246, 246);
    justify-content: center;
    align-items: center;
}

.button {
    display: flex;
    width: 60%;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: transparent;
    border-radius: 25px;
    background: linear-gradient( #FF79DA, #9356dc);
    box-shadow: 5px 5px 10px rgb(212, 212, 212);
    color: white;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 1px rgb(212, 212, 212);
}


/*......................Footer..............................Footer.................*/

footer {
    display: flex;
    height: 200px;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 5px;
    background-color: rgb(53, 53, 53);
    text-decoration: none;
}

.footer-title {
    font-family: 'Shrikhand', cursive;
    color: white;
}

.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    width: 80%;
}

li {
    display: flex;
    flex-direction: row;
}

.footer-text {
    display: flex;
    margin: 0;
    padding-left: 10px;
}

.fas.fa-handshake {
    transform: rotate(-45deg);
}

.footer-link {
    text-decoration: none;
    color: white;
}


/*...........................................page restaurant Desktop..................................*/

@media screen and (min-width: 992px) {
    main {
        display: flex;
        width: 100%;
        height: 1070px;
    }
    main.more-starters {
        display: flex;
        height: 1070px;
    }
    .restaurant-image-container {
        display: flex;
        width: 100%;
        height: 400px;
    }
    .restaurant-menu {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        height: 563px;
        justify-content: space-between;
    }
    .more-starters-restaurant-menu {
        display: flex;
        height: 600px;
        flex-direction: column;
    }
    .restaurant-title {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .restaurant-name {
        display: flex;
        font-size: 30px;
    }
    .menu-container {
        display: flex;
        height: 450px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
    }
    .more-starters-menu-container {
        display: flex;
        height: 550px;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    article {
        display: flex;
        width: 30%;
        height: 360px;
    }
    .more-starters-article {
        display: flex;
        width: 30%;
        height: 450px;
    }
    .button {
        display: flex;
        width: 33%;
        height: 60px;
        font-size: 26px;
        padding-bottom: 0;
    }
    .restaurant-calltoaction {
        display: flex;
        align-items: flex-start;
    }
    footer {
        display: flex;
        height: 120px;
        padding-left: 0;
        padding-top: 0;
    }
    .footer-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}


/*...........................................home page tablette.................................*/

@media screen and (min-width: 768px) and (max-width :991px) {
    main {
        display: flex;
        height: auto;
    }
    main.more-starters {
        display: flex;
        height: auto;
    }
    .restaurant-image-container {
        display: flex;
        height: 320px;
    }
    .restaurant-title {
        display: flex;
        justify-content: space-around;
        padding-bottom: 30px;
    }
    .menu-container {
        display: flex;
        height: 1100px;
        align-items: center;
    }
    .dish-container {
        display: flex;
        width: 65%;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer {
        display: flex;
        height: 120px;
        padding-left: 0;
        padding-top: 0;
    }
    .footer-title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}